# This workflows will upload a Python Package using Twine when a release is created
# For more information see: https://help.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions#publishing-to-package-registries

name: Upload Python Package

on:
  release:
    types: [created]

jobs:
  pypi-publish:
    name: Upload release to PyPI
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/tiny-ai-client
    permissions:
      id-token: write  

    steps:
     - uses: actions/checkout@v2
       with:
        repository: piEsposito/tiny-ai-client
        token: ${{ secrets.GH_PAT }}
     - name: Set up Python
       uses: actions/setup-python@v2
       with:
          python-version: '3.x'
     - name: Install dependencies
       run: |
          python -m pip install --upgrade pip
          pip install setuptools wheel twine
     - name: Build
       run: |
          python setup.py sdist bdist_wheel
     - name: Publish package distributions to PyPI
       uses: pypa/gh-action-pypi-publish@release/v1
